/* Title Page */
.page1 {
    background-image: url(../assets/images/carbonbackground.jpg);
    width: 100%;
    height: 950px;
    position: relative;
    box-sizing: border-box;
    z-index: 0;
}

.page1 h1, h3 {
    color: aliceblue;
    position: relative;
    top: 50%;
    text-align: center;
    z-index: 1;
    opacity: 70%;
}

.page1 h1 {
    font-size: 500%;
}

.titleline {
    color: #e1efe6;
    position:relative;
    top: 50%;
    text-align: center;
    left: 25%;
    z-index: 1;
    opacity: 70%;
}

.page1 h3 {
    font-size: 200%;
}

@media screen and (max-width: 768px) {
    .page1, h3 {
        font-size: 50%;
    }
}

/* Side Navigation Bar */
.sidenav {
    position:fixed;
    transform: translateY(-220%);
    z-index: 4;
}

.sidenav a {
    display: block;
    text-decoration: none;
    background: #aeb7b3;
    color: #000411;
    text-transform: uppercase;
    padding: 15px 0 15px 10px;
    margin: 5px 0;
    width: 200px;
    letter-spacing: 1.5px;
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
    position: relative;
    margin-left: -130px;
    transition: 0.5s ease;
}

.sidenav a span {
    float: right;
    width: 70px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #000411;
    background: #efcb68;
    position: absolute;
    right: 0;
    top: 0;
}

.sidenav a span i {
    font-size: 20px;
}

.sidenav a:hover {
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .sidenav {
        position: fixed;
    }
}


/* About Me Page */
.aboutme {
    background-color: #e1efe6;
    width: 100%;
    height: 950px;
    position: relative;
}

.aboutme h4 {
    font-size: 40%;
}

.aboutcontent {
    text-align: center;
    color: rgb(49, 48, 48);
    font-size: 300%;
    padding-top: 50px;
}

#portrait {
    max-width: 300px;
    border-radius: 250%;
    position: relative;
    margin-top: 1%;
    border: 10px solid #EFCB68;
}

@media screen and (max-width: 768px) {
    .aboutcontent {
        font-size: 200%;
    }
    #portrait {
        max-width: 200px;
    }
}

/* Projects Page */
.projects {
    background-color: rgb(49, 48, 48);
    width: 100%;
    height: 950px;
    position: relative;
}

.projects h4 {
    font-size: 40%;
}

.projectscontent {
    text-align: center;
    color: #e1efe6;
    font-size: 300%;
    padding-top: 50px;
}

.projectlinks {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 100px;
}

#project1 img {
    width: 700px;
    border: 10px solid #EFCB68;
}

#project1:hover {
    opacity: 0.3;
}

#project2 img {
    width: 700px;
    border: 10px solid #EFCB68;
}

#project2:hover {
    opacity: 0.3;
}

@media screen and (max-width: 1200px) {
    .projectlinks {
        flex-direction: column;
    }
    #project1 img {
        max-width: 400px;
    }
    #project2 img {
        max-width: 400px;
    }
}

/* Skills Page  */
.skills {
    background-color: #e1efe6;
    width: 100%;
    height: 950px;
    position: relative;
}

.skills h4 {
    font-size: 40%;
}

.skillscontent {
    text-align: center;
    color: rgb(49, 48, 48);
    font-size: 300%;
    padding-top: 50px;
}

.skilllist li {
    list-style-type: none;
    text-align: left;
    margin-left: 30%;
    margin-top: 50px;
}

.skilllist li::before {
    content: "\2022";
    color: #EFCB68;
    margin-right: 8px;
}

@media screen and (max-width: 768px) {
    .skilllist li {
        font-size: 60%;
    }
}


/* Contact Page  */
.contact {
    background-color: rgb(49, 48, 48);
    width: 100%;
    height: 1050px;
    position: relative;
}

.contact h4 {
    font-size: 40%;
}

.contactcontent {
    text-align: center;
    color:#e1efe6;
    font-size: 300%;
    padding-top: 50px;
}

.sociallinks a{
    display: flex;
    color: #e1efe6;
    align-items: center;
    margin: 80px 5px 5px 30%;
    font-size: 100%;
}

.sociallinks span {
    color: #EFCB68;
}

@media screen and (max-width: 1200px) {
    .sociallinks a {
        font-size: 60%;
    }
}

